<div class="row">
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12">
        <app-data-card 
            [cardTitle]="'Total de Clientes'"
            [cardData]="clientsCounter | async"
            
            [subCardIcon]="'fa fa-street-view'" 
            [subCardTitle]="'ambientes'"
            [subCardData]="environmentsCounter | async"

            [routerLink]="'/home/clients'">
        </app-data-card>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-head">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="card-title data-name">Últimas Atualizações de Temperatura</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="lastWeekSessionsChart"></canvas>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <h5 class="data-name">Média de Temperatura </h5>
                        <p>{{ lastUpdateTemperatureAverage || ' -- ' }}&deg;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->