<div class="row">
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12">
        <app-data-card [cardTitle]="'Total de Clientes'" [cardIcon]="'fa-users'" [cardData]="patientsCounter | async"
            [routerLink]="'/home/patients'"></app-data-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-head">
                <h5 class="card-title data-name">Relação Pacientes x Planos de Saúde</h5>
            </div>
            <div class="card-body">
                <canvas id="patientsHealthInsuranceChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-head">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title data-name">Últimas Atualizações</h5>
                    </div>
                    <div class="col-md-6">
                        <nav id="menu">
                            <ul>
                                <li>
                                    <select type="date" class="form-control" [ngModel]="startDate | date:'yyyy-MM-dd'"
                                        (ngModelChange)="startDate = $event" (change)="recalculateSessions()">
                                    </select>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="lastWeekSessionsChart"></canvas>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <h5 class="data-name">Total de Horas </h5>
                        <p>{{ totalHoursWorked || ' -- ' }}</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <h5 class="data-name">Pacientes Atendidos </h5>
                        <p>{{ !attendedPatients || attendedPatients === 0 ? 0 : attendedPatients }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>