.title {
  text-align: center;
  background: white;
  padding: 10px 8px 10px 8px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px -2px 30px 3px rgba(0,0,0,.75);
  -moz-box-shadow: 0px -2px 30px 3px rgba(0,0,0,.75);
  box-shadow: 0px -2px 30px 3px rgba(0,0,0,.75);
}
.title-logo {
  width: 80%;
  display: linear;
}
.title h3 {
  margin-bottom: 0;
  font-weight: 700!important;
  font-size: 22px;
  line-height: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
}



ul > li {
  list-style: none;
}

hr {
  background-color: #303844;
}


.username{
  padding-top: 15px;
  font-size: 18px;
  text-align: center;
  position: relative;
  font-weight: 100;
  color: white;
}

.nav-container{position: relative;}
.nav{padding-top: 10px;width: 200px;}
.nav li{width:inherit}

.nav li a{
  display: flex;
  align-items: center;

  
  height: 50px;
  text-decoration: none;
  width: 100%;

  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;

}

.nav li a:hover,  .parent-active{
  background-color: rgba(255, 255, 255, 0.185);
}

.nav li a span{
  margin-left: 20px;
}

.selected{
  color: white!important;
  border-left: 5px solid #007DF9;
  transition: none;
}


.subMenu {
  padding: 0;
  overflow: hidden; 
  background: var(--lighter-color);

  -moz-box-shadow: inset 0 8px 10px -9px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: inset 0 8px 10px -9px rgba(0, 0, 0, 0.42);
  box-shadow: inset 0 8px 10px -9px rgba(0, 0, 0, 0.42);
}

.subMenu-arrow {
  right: 5px;
  position: absolute;
  padding: 15px;
  transition: transform .4s
}
.subMenu-open {
  transform: rotate(90deg);
}