<div class="card" changeBackground>

  <div class="card-body">

    <div class="card-title">
      <img src="../../../assets/img/salvus-logo.PNG" alt="">
    </div>


    <div class="form-group">
      <form [formGroup]="registerForm" (submit)="register()">

        <input class="form-control form-control-lg" type="text" placeholder="Nome" name="email" formControlName="name"
          autocomplete="off" autofocus>

        <input class="form-control form-control-lg" type="text" placeholder="Email" name="email" formControlName="email"
          autocomplete="off" autofocus>

        <input class="form-control form-control-lg" type="password" placeholder="Senha" name="password"
          formControlName="password" autocomplete="off">

        <input class="form-control form-control-lg" type="password" placeholder="Confirmar Senha"
          name="confirm_password" formControlName="confirm_password" autocomplete="off">


        <button type="submit" [disabled]="loadingLogin" class="btn btn-primary btn-lg btn-block">
          {{ buttonRegister }}
          <i [hidden]="!registering" class="fa fa-spinner fa-spin"></i>
        </button>


      </form>
      <button type="button" (click)="goToLogin()" class="btn btn-outline btn-lg btn-block">
          Voltar
      </button>
    </div>

    <small>{{ currentYear | date:'yyyy' }} © Umberto</small>
  </div>