<div class="panel">

  <div class="panel-head" style="margin: 0;">

    <h4 class="panel-title">
      Ambientes
    </h4>

    <button (click)="createEnvironmentToggle = !createEnvironmentToggle" class="btn btn-primary btn-sm">
      <i class="fa fa-plus"></i>
      Cadastrar Ambiente
    </button>
  </div>

  <div [@collapse] *ngIf="createEnvironmentToggle" class="environment-form">

    <form [formGroup]="environmentForm" (submit)="submitEnvironment()">

      <div class="row">

        <div class="col-xl-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">Nome</label>
            </div>
            <input id="name-input" type="text" class="form-control" placeholder="Sala" formControlName="title">
          </div>
        </div>

        <div class="col-xl-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">Atualização</label>
            </div>
            <input type="number" min="5" max="30" class="form-control" placeholder="10" formControlName="update_time">
          </div>
        </div>

        <div class="col-md-2">
          <button class="btn btn-block full-width-mobile btn-success pull-right" type="submit">
            <i class="fa fa-check"
              [ngClass]="{'fa-check': !creatingEnvironment, 'fa-spin': creatingEnvironment, 'fa-spinner': creatingEnvironment}"></i>
          </button>
        </div>

      </div>

    </form>

  </div>

  <div class="panel-body">

    <div class="table-wrapper" style="margin: 20px 0 0 0">


      <div class="tableStyles">


        <table class="table align-items-center table-flush">

          <tbody *ngIf="environments">

            <tr *ngFor="let environment of environments" class="line">
              <td>
                {{ environment.title }}
              </td>
              <td>
                Dispositivo {{ environment.deviceId }}
              </td>
              <td>
                <button (click)="deleteEnvironment(environment)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
              </td>
            </tr>

          </tbody>

          <tbody *ngIf="!environments || environments.length <= 0">
            <tr>
              <td colspan="3" style="text-align: center">Nenhum ambiente cadastrado</td>
            </tr>
          </tbody>

        </table>


      </div>

    </div>

  </div>
</div>