<div class="panel" style="overflow-x:hidden">

  <div class="panel-head">

    <h4 class="panel-title">
      Últimas Mensagens
    </h4>

  </div>


  <div class="panel-body">


    <div id="container" [@listObjShow]="messages.length">

      <div class="message" *ngFor="let device of messages; let index = index" [hidden]="index > 5">

        <div class="row">

          <div class="col-md-4">Dispositivo {{ device.deviceId }}</div>
          <div class="col-md-4">{{ device.temperature }}&deg;</div>
          <div class="col-md-4">{{ device.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</div>

        </div>

      </div>

    </div>

  </div>


</div>