@import '~@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './assets/all-styles/table.css';
@import './assets/all-styles/panel.css';
@import './assets/all-styles/utils.css';

:root {
  --main-color: #fff;
  --lighter-color: #fff;

  --secondary-color: #BDAC75;  
  
  
  --font-color: #e7e7e7;
  --font-subcolor: #757e8a;
  --darker-font-color: #383F48;

  --primary-selected: #00448d;


  --primary: #690013!important;

  --success-color: #C69532;
  --danger-color: #FF2419;
  --info-color: #19b0c7 ;
  

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)!important;
}

.btn-success {
  background-color: #61FA53!important;
  border-color: #61FA53!important;
}

.btn-default {
  background-color: #46ACFA;
  color: white;
  border-color: #46ACFA;
}


body{
  background-color: var(--main-color)!important;
  font-family: 'Roboto', sans-serif!important;

}

.secondary-color {
  background-color: var(--secondary-color)!important;
}

h1, h2, h3, h4, h5, p, span, small, tr, td, th, label {
  font-weight: 400!important;
}

p {
  word-break: break-all;
}



  /* ----- Classes ----- */

.sidebar-link {
  color: white!important;
}

.btn-primary {
  background: var(--primary)!important;
  border-color: var(--primary)!important;
}