<div class="card" changeBackground>
  <div class="card-body">
    <div class="card-title">
      <img src="assets/img/unicap-logo.png" alt="">
    </div>
    <form [formGroup]="loginForm" (submit)="login()">

      <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Email" name="email" formControlName="email"
          autocomplete="off" autofocus>
        <input class="form-control form-control-lg" type="password" placeholder="Senha" name="password" formControlName="password"
          autocomplete="off">
        <button type="submit" [disabled]="loadingLogin" class="btn btn-primary btn-lg btn-block">
          {{ buttonLogin }}
          <i [hidden]="!loadingLogin" class="fa fa-spinner fa-spin"></i>
        </button>
        <button type="button" (click)="goToRegister()" class="btn btn-outline btn-lg btn-block">
          Cadastrar
        </button>
      </div>

    </form>
    <small>{{ currentYear | date:'yyyy' }} © Umberto</small>
  </div>
</div>